<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usermanagement.mapper.ConsultationMapper">
  <resultMap id="BaseResultMap" type="com.example.usermanagement.model.Consultation">
    <id column="consultation_id" jdbcType="BIGINT" property="consultationId" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctorId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="ended_at" jdbcType="TIMESTAMP" property="endedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    consultation_id, patient_id, doctor_id, status, created_at, ended_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consultation
    where consultation_id = #{consultationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from consultation
    where consultation_id = #{consultationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.usermanagement.model.Consultation">
    insert into consultation (consultation_id, patient_id, doctor_id, 
      status, created_at, ended_at
      )
    values (#{consultationId,jdbcType=BIGINT}, #{patientId,jdbcType=BIGINT}, #{doctorId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{endedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.usermanagement.model.Consultation">
    insert into consultation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consultationId != null">
        consultation_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="endedAt != null">
        ended_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consultationId != null">
        #{consultationId,jdbcType=BIGINT},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="endedAt != null">
        #{endedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.usermanagement.model.Consultation">
    update consultation
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="endedAt != null">
        ended_at = #{endedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where consultation_id = #{consultationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.usermanagement.model.Consultation">
    update consultation
    set patient_id = #{patientId,jdbcType=BIGINT},
      doctor_id = #{doctorId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      ended_at = #{endedAt,jdbcType=TIMESTAMP}
    where consultation_id = #{consultationId,jdbcType=BIGINT}
  </update>
</mapper>