<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usermanagement.mapper.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.example.usermanagement.model.Hospital">
    <id column="hospital_id" jdbcType="BIGINT" property="hospitalId" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
  </resultMap>
  <sql id="Base_Column_List">
    hospital_id, hospital_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital
    where hospital_id = #{hospitalId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hospital
    where hospital_id = #{hospitalId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.usermanagement.model.Hospital">
    insert into hospital (hospital_id, hospital_name)
    values (#{hospitalId,jdbcType=BIGINT}, #{hospitalName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.usermanagement.model.Hospital">
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.usermanagement.model.Hospital">
    update hospital
    <set>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.usermanagement.model.Hospital">
    update hospital
    set hospital_name = #{hospitalName,jdbcType=VARCHAR}
    where hospital_id = #{hospitalId,jdbcType=BIGINT}
  </update>
</mapper>