<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usermanagement.mapper.PreDiagnosisImagesMapper">
  <resultMap id="BaseResultMap" type="com.example.usermanagement.model.PreDiagnosisImages">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pre_diagnosis_id" jdbcType="BIGINT" property="preDiagnosisId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pre_diagnosis_id, image_url, upload_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pre_diagnosis_images
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pre_diagnosis_images
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.usermanagement.model.PreDiagnosisImages">
    insert into pre_diagnosis_images (id, pre_diagnosis_id, image_url, 
      upload_time)
    values (#{id,jdbcType=BIGINT}, #{preDiagnosisId,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.usermanagement.model.PreDiagnosisImages">
    insert into pre_diagnosis_images
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="preDiagnosisId != null">
        pre_diagnosis_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="preDiagnosisId != null">
        #{preDiagnosisId,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.usermanagement.model.PreDiagnosisImages">
    update pre_diagnosis_images
    <set>
      <if test="preDiagnosisId != null">
        pre_diagnosis_id = #{preDiagnosisId,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.usermanagement.model.PreDiagnosisImages">
    update pre_diagnosis_images
    set pre_diagnosis_id = #{preDiagnosisId,jdbcType=BIGINT},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>